<div class="pagehead">
	<ul class="tabs">
		<li><a href="/">Introduction</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/configuration">Configuration</a></li>
		<li><a class="selected" href="/acknowledgement">Acknowledgement</a></li>
	</ul>
</div>

<div class="introduction_title">     
	iRefactoring的由来是Micheal Feather的文章<a href="http://www.stickyminds.com/sitewide.asp?Function=edetail&ObjectType=COL&ObjectId=16679&tth=DYN&tt=siteemail&iDyn=2">Getting Empirical about Refactoring</a>。
</div>

<div class="introduction">
	To be continued...
</div>
