.projects ul.tabs li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

.projects ul.tabs li a {
    -moz-border-radius: 4px 4px 4px 4px;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    padding: 0 8px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

#plot-graph {
	text-align: center;
	margin: 80px 0 10px 0;
}
